node_modules/
vendor/
.env
*.key
build/
*.apk
.dart_tool/
.idea/
google-services.json
GoogleService-Info.plist
firebase_credentials.json
firebase_app_id_file.json
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/*.log
storage/app/images/

