/* CSS Variables */
:root {
  --color-black: #1E1E1E;


  /* mint */
  --color-mint-50: #E8FBF4;
  --color-mint-100: #C7F6E5;
  --color-mint-200: #A5F0D6;
  --color-mint-300: #84EBC7;
  --color-mint-400: #63E5B8;
  --color-mint-500: #42E0A9;
  --color-mint-600: #32D3A0;
  --color-mint-700: #2BBE90;
  --color-mint-800: #249A77;
  --color-mint-900: #1A7058;

  /* aqua */
  --color-aqua-50: #E7F8FD;
  --color-aqua-100: #C5EEF9;
  --color-aqua-200: #A3E3F5;
  --color-aqua-300: #81D8F1;
  --color-aqua-400: #5FCEED;
  --color-aqua-500: #3DC3E9;
  --color-aqua-600: #2BBBE3;
  --color-aqua-700: #24A3C6;
  --color-aqua-800: #1C8BAA;
  --color-aqua-900: #156F87;


  /* neutral */
  --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;


  /* danger */
  --color-danger-50: #FDECEC;
  --color-danger-100: #FBD4D4;
  --color-danger-200: #F9BBBB;
  --color-danger-300: #F7A3A3;
  --color-danger-400: #F58A8A;
  --color-danger-500: #F27272;
  --color-danger-600: #F15B5B;
  --color-danger-700: #E94242;
  --color-danger-800: #C92929;
  --color-danger-900: #A31E1E;


  /* warning */
  --color-warning-50: #FFF9E5;
  --color-warning-100: #FFF3C7;
  --color-warning-200: #FFEDA9;
  --color-warning-300: #FFE78B;
  --color-warning-400: #FFE06D;
  --color-warning-500: #FFD94F;
  --color-warning-600: #FFD231;
  --color-warning-700: #EAB800;
  --color-warning-800: #C59C00;
  --color-warning-900: #8F7000;



}



html {
  scroll-behavior: smooth;
}


/* Base font setup */
body {
  font-family: 'Inter', sans-serif;
  background: rgba(249, 250, 251, 0.93);
}


.menu_link {
  color: var(--color-neutral-700);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.menu_link:hover {
  color: var(--color-mint-600, #32D3A0);
}

.menu_link_active {
  color: var(--color-mint-600, #32D3A0);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 100%;
  /* 150% */
}


/* sidebar code  */
.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}


/* scrollbar section  */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
  -webkit-overflow-scrolling: touch;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-style::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

/* Track */
.scrollbar-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
}

/* Handle */
.scrollbar-style::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 90px;

}

.scrollbar-style::-webkit-scrollbar-corner {}

/* Handle on hover */
.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187)
}





/* buttons */

.btn_solid {
  border-radius: 12px;
  /* border: 1px solid transparent; */
  outline: 2px solid transparent;
  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(1deg, var(--color-mint-300) 0%, var(--color-mint-700) 100%);
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}


.btn_solid:hover img {
  transform: translateX(5px);


  /* color: var(--color-mint-600, #32D3A0);
  background: white;
  outline: 1px solid var(--color-mint-600, #32D3A0); */
}

.btn_solid p {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}

.btn_solid img {
  transition: all 0.3s ease-in-out;
  height: 15px;
  width: 15px;
}




.btn_outline {
  border-radius: 12px;
  border: 1.50px solid var(--color-mint-600);

  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  color: var(--color-mint-600);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}


.btn_outline:hover img {
  transform: translateX(5px);


  /* color: var(--color-mint-600, #32D3A0);
  background: white;
  outline: 1px solid var(--color-mint-600, #32D3A0); */
}

.btn_outline p {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}

.btn_outline img {
  transition: all 0.3s ease-in-out;
  height: 15px;
  width: 15px;

}

/* large btns */

.btn_solid_white_lg {
  border-radius: 12px;
  /* border: 1px solid transparent; */
  outline: 2px solid transparent;
  padding: 16px 24px;
  width: fit-content;
  height: fit-content;
  background: white;
  color: var(--color-mint-600, #32D3A0);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}


.btn_solid_white_lg:hover img {
  transform: translateX(5px);


  /* color: var(--color-mint-600, #32D3A0);
  background: white;
  outline: 1px solid var(--color-mint-600, #32D3A0); */
}

.btn_solid_white_lg p {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

.btn_solid_white_lg img {
  transition: all 0.3s ease-in-out;
  height: 15px;
  width: 15px;
}


.btn_outline_white_lg {
  border-radius: 12px;
  border: 1.50px solid white;

  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  background: transparent;
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}


.btn_outline_white_lg:hover img {
  transform: translateX(5px);


  /* color: var(--color-mint-600, #32D3A0);
  background: white;
  outline: 1px solid var(--color-mint-600, #32D3A0); */
}

.btn_outline_white_lg p {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

.btn_outline_white_lg img {
  transition: all 0.3s ease-in-out;
  height: 15px;
  width: 15px;

}












/* manage-address */

.rs-manage-addresses-section {
  background: var(--color-neutral-50);
}

.rs-add-new-address-btn {
  background: var(--color-mint-600) linear-gradient(4deg, rgba(232, 251, 244, 0.3) 0%, rgba(26, 112, 88, 0.3) 100%);
}




/* modal base */
.modal_container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* when visible */
.modal_container.active {
  opacity: 1;
  pointer-events: auto;
}

/* backdrop */
.modal_backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><g transform='rotate(45 16 16)'><circle cx='16' cy='16' r='1.5' fill='white' stroke='black' stroke-width='0.5'/><line x1='16' y1='0' x2='16' y2='32' stroke='white' stroke-width='2' stroke-linecap='round'/><line x1='0' y1='16' x2='32' y2='16' stroke='white' stroke-width='2' stroke-linecap='round'/><line x1='16' y1='0' x2='16' y2='32' stroke='white' stroke-width='0.5' stroke-linecap='round'/><line x1='0' y1='16' x2='32' y2='16' stroke='white' stroke-width='0.5' stroke-linecap='round'/></g></svg>") 16 16, crosshair;

}

.modal_container.active .modal_backdrop {
  opacity: 1;
}

/* content */
.modal_content {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  z-index: 10;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
  max-height: 100vh;
  overflow-y: auto;
}

.modal_container.active .modal_content {
  transform: scale(1);
  opacity: 1;
}




/* icon labels */
.icon_labels {
  border-radius: 12px;
  width: 68px;
  height: 68px;
  background: var(--color-mint-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_labels img {
  width: 24px;
  height: 24px;
}

/* select dropdown css */
.select-dropdown:hover .select-dropdown-option {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.select-dropdown-option {
  transform-origin: 0 0;
  transform: scale(1, 0);
}

.select-dropdown-option li:hover {
  background: var(--color-aqua-50);
  border-radius: 8px;
}




/* form styles */
.required:after {
  content: "*";
  color: red;
}



/* counter */
.counter_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: clamp(82px, 10vw, 110px);
  height: clamp(28px, 4vw, 32px);
  padding: 4px;
  background-color: var(--color-neutral-100);
  border-radius: 6px;
  font-size: 14px; 
  font-weight: 500; 
  text-align: center; 
  color: var(--color-neutral-700)
}

.counter_container > .decrease{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  font-weight: 500; 
}


.counter_container > .current_count{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.counter_container > .increase{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  font-weight: 500; 
}


