.log-in-customers-img img:not(:first-child) {
    margin-left: -8px;
}

.sigin-left-side::before {
    position: absolute;
    content: '';
    width: 380px;
    height: 380px;
    background: rgba(255, 255, 255, 0.1);
    top: -205px;
    right: -80px;
    border-radius: 100%;
}

.sigin-right-side {
    box-shadow: 0 4px 4px -4px rgba(199, 246, 229, 0.3), 0 16px 16px -8px rgba(199, 246, 229, 0.3);
}

.login-tab a.active {
    background:
        linear-gradient(4deg, rgba(232, 251, 244, 0.3) 0%, rgba(26, 112, 88, 0.3) 100%),
        var(--color-mint-600);
    color: #fff;
    border-radius: 50px;
}

.input-items img {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.input-items input {
    height: 56px;
    border: 1.50px solid var(--color-neutral-100);
    border-radius: 12px;
    padding: 12px 12px 12px 46px;
    outline: none;
}

.input-items input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-neutral-400);
}

.input-items input:focus {
    border: 1px solid var(--color-mint-200);
}

.input-items input:focus::placeholder {
    color: transparent;
}

.outher-login span::after,
.outher-login span::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 35%;
    background: var(--color-neutral-200);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.outher-login span::after {
    right: 0;
    left: auto;
}

@media (max-width: 1000px) {

    .outher-login span::before,
    .outher-login span::after {
        display: none;
    }
}

/* register */
.register-btn a.active {
    border: 1.50px solid var(--color-mint-200);
    border-radius: 12px;
    background: var(--color-mint-50);
    color: var(--color-mint-600);
}

.register-btn a.active img {
    filter: invert(60%) sepia(42%) saturate(600%) hue-rotate(112deg) brightness(95%) contrast(90%);
}